$lightGrayish: hsl(270, 3%, 87%);
$darkGrayish: hsl(279, 6%, 55%);
$darkViolet: hsl(278, 68%, 11%);
$gradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
$fontSize: 18px;
$fontFam: 'Space Grotesk', sans-serif;

@mixin flex($direction, $align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}
@mixin widthHeight($width, $height){
    width: $width;
    height: $height;
}

body{
    font-family: $fontFam;
    @include widthHeight(100%, 100vh);
    background-image: url(../images/bg-main-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    @include flex(column, center, space-between);
}
.hidden{
    display: none;
}
.r-side{
    @include flex(column, center, center);
    background-color: #fff;
    height: 470px;
    width: 100%;
    form{
        display: flex;
        flex-direction: column;
        width: 285px;
    }
}
.card-back{
    @include widthHeight(250px, 138px);
    background-image: url(../images/bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(24px, 59px);
    position: relative;
}
#ccvDisplay{
    position: absolute;
    margin-left: 203px;
    margin-top: 62px;
    font-size: 10px;
    color: #fff;
}
.card-front{
    color: #fff;
    background-image: url(../images/bg-card-front.png);
    @include widthHeight(250px, 138px);
    @include flex(column, center, space-evenly);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-25px, 137px);
}
.cardBottom{
    @include flex(row, center ,space-between);
    font-size: 8px;
    text-transform: uppercase;
    width: 215px;
    letter-spacing: 1px;
}
#cardNumDisplay{
    margin-bottom: 0;
    letter-spacing: 2px;
}
.logo{
    img{
        width: 45px;
        margin-right: 169px;
        margin-top: 8px;
    }
}
