$lightGrayish: hsl(270, 3%, 87%);
$darkGrayish: hsl(279, 6%, 55%);
$darkViolet: hsl(278, 68%, 11%);
$label: #430f60;
$placeholder: hsl(300, 3%, 73%);
$gradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
$fontSize: 18px;
$fontFam: 'Space Grotesk', sans-serif;

@mixin flex($direction, $align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}
@mixin widthHeight($width, $height){
    width: $width;
    height: $height;
}

body{
    font-family: $fontFam;
    @include widthHeight(100vw, 100vh);
    @include flex(column, center, space-between);
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
}
.card-back{
    @include widthHeight(250px, 138px);
    background-image: url(../images/bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(24px, 59px);
    position: relative;
}
#cvcDisplay{
    position: absolute;
    margin-left: 203px;
    margin-top: 62px;
    font-size: 10px;
    color: #fff;
}
.card-front{
    color: #fff;
    background-image: url(../images/bg-card-front.png);
    @include widthHeight(250px, 138px);
    @include flex(column, center, space-evenly);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-25px, 137px);
    box-shadow: 0 16px 44px -21px #949494;
}
.cardBottom{
    @include flex(row, center ,space-between);
    font-size: 8px;
    text-transform: uppercase;
    width: 215px;
    letter-spacing: 1px;
    color: $lightGrayish;
}
#cardNumDisplay{
    margin-bottom: 0;
    letter-spacing: 2px;
    color: $lightGrayish;
}
.cardBottom{
    font-size: 10px;
}
.logo{
    img{
        width: 45px;
        margin-right: 169px;
        margin-top: 8px;
    }
}
.r-side{
    @include flex(column, center, center);
    background-color: #fff;
    height: 470px;
    width: 100%;
    form{
        display: flex;
        flex-direction: column;
        width: 285px;
    }
}
.complete{
    @include flex(column, center, center);
    width: 285px;
    button{
        width: 100%;
    }
    h1{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 26px;
        color: $label;
        margin: 33px 0 0 0;
    }
    p{
        margin-bottom: 40px;
        color: $darkGrayish;
    }
}
input{
    height: 38px;
    margin: 8px 0 18px;
    border: 1px solid $placeholder;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 9px;
    &::placeholder{
        font-family: $fontFam;
        color: $placeholder;
        font-size: 16px;
    }
    &:active, &:focus{
        outline: none;
        border: 2px solid $darkViolet;
    }
}
label{
    text-transform: uppercase;
    color: $label;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
}
.dates{
    display: flex;
    flex-direction: column;
}
.dateInps{
    display: flex;
    justify-content: space-between;
    input{
        width: 50px;
    }
}
#cvc{
    width: 130px;
}
#cvcLbl{
    margin-left: 15px;
}
button{
    height: 48px;
    border: 0;
    border-radius: 8px;
    background-color: $darkViolet;
    color: $lightGrayish;
    font-size: 16px;
    font-family: $fontFam;
}
.error{
    color: #f00;
    font-size: 12px;
    margin: -12px 0 10px;
}
.dateErrs{
    display: flex;
    justify-content: space-between;
}
#cvcErr{
    margin-right: 59px;
}
.hidden{
    display: none;
}
@media (min-width: 769px){
    body{
        background-image: url(../images/bg-main-desktop.png);
        background-size: cover;
        flex-direction: row;
    }
    .r-side{
        height: 100vh;
        width: 72vw;
    }
    .card-front{
        transform: translate(223px, -140px);
        @include widthHeight(338px, 182px);
        box-shadow: unset;
    }
    #cardNumDisplay{
        font-size: 22px;
    }
    .card-back{
        @include widthHeight(338px, 182px);
        transform: translate(275px, 70px);
    }
    .cardBottom{
        width: 280px;
    }
    .logo img{
        width: 70px;
        margin-right: 225px;
        margin-top: 10px;
    }
    #cvcDisplay{
        margin-left: 271px;
        margin-top: 83px;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .card-front{
        transform: translate(24px, -140px);
    }
    .card-back{
        transform: translate(90px, 70px);
    }
}
@media (min-width: 1025px) and (max-width: 1250px){
    .card-front{
        transform: translate(74px, -140px);
    }
    .card-back{
        transform: translate(153px, 70px);
    }
}