body {
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-image: url(../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.card-back {
  width: 250px;
  height: 138px;
  background-image: url(../images/bg-card-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(24px, 59px);
  position: relative;
}

#ccvDisplay {
  position: absolute;
  margin-left: 203px;
  margin-top: 62px;
  font-size: 10px;
  color: #fff;
}

.card-front {
  color: #fff;
  background-image: url(../images/bg-card-front.png);
  width: 250px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-25px, 137px);
  box-shadow: 0 16px 44px -21px #949494;
}

.cardBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 8px;
  text-transform: uppercase;
  width: 215px;
  letter-spacing: 1px;
}

#cardNumDisplay {
  margin-bottom: 0;
  letter-spacing: 2px;
}

.logo img {
  width: 45px;
  margin-right: 169px;
  margin-top: 8px;
}

.r-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  height: 470px;
  width: 100%;
}
.r-side form {
  display: flex;
  flex-direction: column;
  width: 285px;
}

.complete {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 285px;
}
.complete button {
  width: 100%;
}
.complete h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 26px;
  color: #430f60;
  margin: 33px 0 0 0;
}
.complete p {
  margin-bottom: 40px;
  color: hsl(279, 6%, 55%);
}

input {
  height: 38px;
  margin: 8px 0 18px;
  border: 1px solid hsl(300, 3%, 73%);
  border-radius: 8px;
  font-size: 16px;
  padding-left: 9px;
}
input::-moz-placeholder {
  font-family: "Space Grotesk", sans-serif;
  color: hsl(300, 3%, 73%);
  font-size: 16px;
}
input::placeholder {
  font-family: "Space Grotesk", sans-serif;
  color: hsl(300, 3%, 73%);
  font-size: 16px;
}
input:active, input:focus {
  outline: none;
  border: 2px solid hsl(278, 68%, 11%);
}

label {
  text-transform: uppercase;
  color: #430f60;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
}

.dates {
  display: flex;
  flex-direction: column;
}

.dateInps {
  display: flex;
  justify-content: space-between;
}
.dateInps input {
  width: 50px;
}

#cvc {
  width: 130px;
}

#cvcLbl {
  margin-left: 15px;
}

button {
  height: 48px;
  border: 0;
  border-radius: 8px;
  background-color: hsl(278, 68%, 11%);
  color: hsl(270, 3%, 87%);
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
}

.error {
  color: #f00;
  font-size: 12px;
  margin: -12px 0 10px;
}

.dateErrs {
  display: flex;
  justify-content: space-between;
}

#cvcErr {
  margin-right: 59px;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */